* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: #2C3C44; */
    font-family: Open Sans,Arial,sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px ;
    background: url('./images/Rocket-Digitiz-8829301.png');
    background-color: #2C3C44; 
    position: fixed;
    width: 100%;
    z-index: 2;
    
}
.logo {
    transform: translateX(-23%) scale(0.9);      
}
.logo a img {
    transform: scale(0.2);  
}

/* Partie navigation */
.nav {
   
    transform: translateX(82%);
    width: 50%;  
    position: fixed;
    
}

.span  {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    

}
.span a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
      
    
}
.span a:nth-child(1){
    transform: translateX(40px);
}

.span a:nth-child(2){
    transform: translateX(45px);
}
.span a:nth-child(3){
    transform: translateX(45px);
}
.span a:nth-child(4){
    width: 70rem;
    transform: translateX(35px);
  
}
.span a:nth-child(5){
  
    transform: translateX(20px);
  
}
/* h2 {
    color: white;
    height: 20vh;
    
} */
.main {
    display: flex;
    background-color : #18CC94;
    color: white;
    height: 35vh;
}
.main span {
    font-size: 1.9rem; 
    transform: translate(-48%,19vh);
    color: white;
    z-index: 44444;
    
   
    
}
.contente {
    height: 27vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 2;
    color: #57564E;
    font-size: 1rem;
}
.bloc-agency {
    border: 1px solid #D0CCCC;
    padding: 27px;
    font-size: 1.6rem;
    color: #57564E;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 2px 2px 24px 0px #D0CCCC;
    transform: translateY(-20%);
}
.para {
    padding: 20px;
    font-size: 1.6rem;
    text-align: center;
    color: #18CC94;
}
.mini-card {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    border: 1px solid #D0CCCC;
    width: 70vh;
    box-shadow: -1px 2px 19px 0px #D0CCCC;
    transform: scale(105%);
    
}
.bloc-card {
    display: flex;
    justify-content: space-around;
    margin: 60px;
}
.popup {
    height: 30vh;
    background-color : #18CC94;
    display: flex;
    box-shadow: -1px 0px 8px 0px rgba(0,0,0,0.75);
    justify-content: center;
    width: 83%;
    flex-direction: column;
    line-height: 2;
    padding: 15px;
    margin: 0 auto;
    border-radius: 10px;
    padding-left:  70px;
    color: white;

}
.popup span {
    font-size: 1.4rem;
}
.popup .btn {
    border: 1px solid white;
    width: 20vh;
    font-size: 1.3rem;
    border-radius: 3px;
}
.popup a {
    text-decoration: none;
}
.btn {
    margin-top: 10px;
    text-align: center;
    color:  #18CC94;
    background-color: white;
    transition: width 0.3s;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
.btn:hover {
    color: white;
    background-color: #2C3C44;
    width: 25vh;  
    border-radius: 3px;  
}
.btn img {
    width: 20px;
    display: none;
  
}
.btn:hover img {
    display: flex;
}

.items {
    display: flex;
    height: 45vh;
    justify-content: space-around;
   
    align-items: center;
}
.item {
    display: flex;
    flex-direction: column;
    
}
.item a {
    color : #42BA93;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 15px;
}
.item p {
    padding: 15px;
    color: white;
}
.item ul li {
    line-height: 1.6;
    color: white;
    
}
.item ul {
    padding: 15px
}
.copyright {
    padding: 15px;
    font-size: 1rem;
    text-align: center;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1C242C;
    
}
a:hover {
    color : #42BA93;
}
.copyright a {
    text-decoration: none;
    color: #57564E;
    width: 40%;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.main p {
    padding: 15px 0;
  
}
footer {
    background-color: #2C3C44;
    font-family: Open Sans,Arial,sans-serif;
    margin-top: 15vh;
}